<%= link_to "投稿画面へ", new_shop_path %>
<% @shops.each do |shop| %>
  <p>
    <!-- 以下の2行のコードを追加 -->
    <%= shop.date %>
    <%= shop.name %>
    <%= link_to "詳細", shop %>
    <%= link_to "削除", shop_path(shop), method: :delete, data: {confirm: "削除しますか?"} %>
  </p>
<% end %>
