<% @shops.each.with_index(1) do |shop, i| %>
  <p>
    <!-- 以下の2行のコードを追加 -->
    <%= "#{i}." %>
    <%= shop.date %>
    <%= shop.name %>
    <%= link_to "詳細", shop %>
    <%= link_to "編集", edit_shop_path(shop) %>
    <%= link_to "削除", shop_path(shop), method: :delete, data: {confirm: "削除しますか?"} %>
  </p>
<% end %>
